/*Estilos Gerais*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    color: #2e252c;
}

a,
i {
    transition: .5s;
    text-decoration: none;
}

.secondary-color {
    color: #555;
}

.center-image {
    /*adapta a imagem ocupando toda a largura disponível*/
    background-size: cover;
    /*centraliza a imagem*/
    background-position: center;
}


/* pseudo-botão*/

.btn {
    text-decoration: none;
    background-color: #25282e;
    color: #fff;
    padding: 7px 18px;
}


/*muda a cor do pseudo-botão ao passar o cursor*/

.btn:hover {
    background-color: #333;
    color: #fff;
}


/*Header*/

header {
    text-align: center;
    padding: 20px;
    /*cria uma linha que separa o cabeçalho do corpo do site*/
    border-bottom: 1px solid #ccc;
}

header h1 {
    font-family: 'Orbitron', sans-serif;
}

#logo-color {
    color: chocolate;
}

header p {
    margin-bottom: 0px;
}

#logo-container {
    /*Coloca os itens um ao lado do outro*/
    display: flex;
    /*centraliza os items na tela*/
    justify-content: center;
}

#logo {
    width: 40px;
    margin-right: 15px;
}


/*NavBar*/

#navbar {
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

#navbar a {
    /*Faz com que o elemento <a> tenha um tamanho fixo de 80px, isso forçará a navbar ficar na horizontal, por padrão cada elemento ocuparia todo espaço na horizontal*/
    width: 80px;
    color: #444;
    justify-content: center;
}

#navbar a:hover {
    color: #000000;
}

#navbar .menu-btn:hover {
    background-color: #ccc;
    color: #000000;
}


/*Banner*/

.main-image {
    height: 400px;
    background-image: url("../img/banner3.jpg");
    margin-bottom: 30px;
    /* Posição relativa para que o quadro de informações dentro do banner utilize o próprio banner para se referenciar*/
    position: relative;
}

.main-image-info {
    background-color: #fff;
    padding: 25px;
    position: absolute;
    left: 25px;
    bottom: 25px;
}


/*Galleria*/

#img-2 {
    background-image: url("../img/super-nintendo-img.jfif");
}

#img-3 {
    background-image: url(../img/atari-img.jpg)
}

#img-4 {
    background-image: url(../img/mega-drive-img.png);
}

#img-5 {
    background-image: url(../img/god-of-war-img.png);
}

#gallery-container h2 {
    text-align: center;
}

#gallery-container h2,
#gallery-container .col-md-6,
#gallery-container .col-12 {
    margin-bottom: 25px;
}

#services-icons {
    font-size: 50px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}

.small-image-container {
    height: 200px;
    margin-bottom: 20px;
}


/*Footer*/

footer {
    margin-top: 50px;
    border-top: 1px solid #ccc;
    height: 250px;
    padding: 30px;
}

footer i {
    font-size: 30px;
}

#social-icons-container {
    padding: 25px;
}

#social-icons-container div {
    text-align: center;
}

footer p {
    text-align: center;
    margin: 20px;
}

a:hover i {
    color: #C1B696;
}